body {
  margin: 0 auto;
  font-family: SequentialistBB, cursive;
}

header {
  font-family: SequentialistBB, cursive;
  font-size: 1.75vw;
  background-color: #20B2AA;
}

.hui {
  font-size: 50px;
  color: brown;
}